# Environment variables
.env
.env.*
!.env.example
venv

# Dependencies
node_modules/
vendor/

# Build output
dist/
build/
*.pyc
__pycache__/

# Logs
*.log
logs/
uploads/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

.creds
